html, *, *::after, *::before {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
}

body {
  height: 100vh;
  background: #ADD8E6;
  color: #fff;
  text-shadow: #222 1px 3px 9px;
}

main {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // gap: 10px;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;

  form {
    width: 100vw;
  
    input {
      width: 100%;
      height: 2em;
      opacity: .8;
      text-align: center;
      font-size: 0.8em;
    }
  }

  .weather-icon {
    width: 90px;
  }
  
  .c {
    font-size: 9em;
  }

}

article {
  display: flex;
  flex-wrap: nowrap;
  height: 20vh;

  .info-box {
    padding: 90px;
    // width: 25%;
    background: rgb(140, 140, 140);

    &.day {
      display: flex;
      flex-direction: column;
    }
  }
}
